# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

# *Objectives:*
* List popular languages for Data Science
* List commonly used libraries used by Data Scientists
* List Data Science Tools

#### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

### Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Scikit learn
3. Tensorflow
4. matplotlib
5. Numpy


 | Data Science Tools |
 | --- |
 | Jupyter notebook |
 | R |
 | Anaconda |
 | Visual Studio |

### Below are a few examples of evaluating arithmetic expressions in Python

a = 1 + 2


b = 3 - 2

In [7]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [11]:
# This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

## Author
## Aditi